@model Testv3.Models.TestViewModel

@{
    ViewBag.Title = "Edit My Individual Inventory Record";
}

@if (TempData["Message"] != null)
{
    <br />
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@TempData["Message"]</strong>
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="body-content">
        <div class="form-horizontal">
            <div class="form-group">
                <h4>Individual Inventory Record</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <!-- Nav tabs -->
                <div class="tabs-wrapper">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link waves-light active" data-toggle="tab" href="#PersonalInformation" role="tab"><i class="fa fa-user fa-2x" aria-hidden="true"></i> PERSONAL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light" data-toggle="tab" href="#FamilyBackground" role="tab"><i class="fa fa-users fa-2x" aria-hidden="true"></i> FAMILY BACKGROUND</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light" data-toggle="tab" href="#panel63" role="tab"><i class="fa fa-book fa-2x" aria-hidden="true"></i> EDUCATIONAL INFORMATION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light" data-toggle="tab" href="#panel64" role="tab"><i class="fa fa-star fa-2x" aria-hidden="true"></i> WORK EXPERIENCE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light" data-toggle="tab" href="#panel64" role="tab"><i class="fa fa-hospital-o fa-2x" aria-hidden="true"></i> HEALTH PROFILE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light" data-toggle="tab" href="#panel64" role="tab"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i> ABOUT YOURSELF</a>
                        </li>
                    </ul>
                </div>
                <!-- End Nav tabs -->

                <div class="tab-content clearfix">
                    @*Start #panelPersonalInformation*@
                    <div class="tab-pane active" id="PersonalInformation">
                        <div class="panel panel-default">
                            @*<div class="panel-heading"><b>Personal Information</b></div>*@
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="controls form-inline">
                                        <br />
                                        <div class="col-sm-4">
                                            <label for="Studentname">First Name</label><br />
                                            @Html.EditorFor(model => model.StudentFirstName, new { htmlAttributes = new { @placeholder = "First name", @style = "min-width:100%;text-align:center", @class = "form-control", @type = "text", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="Studentname">Middle Name</label><br />
                                            @Html.EditorFor(model => model.StudentMiddleName, new { htmlAttributes = new { @placeholder = "Middle name", style = "min-width:100%;text-align:center", @class = "form-control", @type = "text", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="Studentname">Last Name</label><br />
                                            @Html.EditorFor(model => model.StudentLastName, new { htmlAttributes = new { @placeholder = "Last name", style = "min-width:100%;text-align:center", @class = "form-control", @type = "text", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="controls form-inline">
                                        <div class="col-sm-4">
                                            @Html.Label("Email")<br />
                                            @Html.EditorFor(model => model.StudentEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address", @style = "min-width:100%;text-align:center", @type = "text", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.Label("Phone Number")<br />
                                            <input type="number" class="form-control" value="63" style="text-align:center;background-color:#C0C0C0;width:45px;" disabled>
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number", style = "text-align:center", @type = "phone", @maxlength = "10", @width = "140px" } })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="controls form-inline">
                                        <div class="col-sm-8">
                                            @Html.Label("Home Address ")<br />
                                            @Html.TextAreaFor(model => model.Address, 3, 100, new { @class = "form-control", @style = "min-width: 100%;" })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.Label("Distance of school from home")<br />
                                            @Html.EditorFor(model => model.DistanceFromSchool, new { htmlAttributes = new { @class = "form-control", @style = "min-width: 100%;" } })
                                            @Html.ValidationMessageFor(model => model.DistanceFromSchool, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="controls form-inline">
                                        <div class="col-sm-3">
                                            @Html.Label("Sex: ")
                                            @Html.EditorFor(model => model.Sex, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sex", style = "min-width:100%;text-align:center" } })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.Label("Civil Status: ")
                                            @Html.EditorFor(model => model.Civil_Status__CivilStatus, new { htmlAttributes = new { @class = "form-control", @placeholder = "Civil Status", style = "min-width:100%;text-align:center" } })
                                        </div>
                                        @*@Html.Label("Sex: ")
                                            @Html.DropDownListFor(m => m.Sex, Model.Sexx, "Gender", new { @class = "form-control", @style = "width: 120px;" })
                                            @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })&nbsp;

                                            @Html.Label("Civil Status: ")
                                            @Html.DropDownListFor(m => m.Civil_Status__CivilStatus, Model.Civil_Status__CivilStatuss, "Civil Status", new { @class = "form-control", @style = "width: 120px;"})
                                            @Html.ValidationMessageFor(model => model.Civil_Status__CivilStatus, "", new { @class = "text-danger" })&nbsp;*@
                                        <div class="col-sm-3">
                                            @Html.Label("Religion: ")<br />
                                            @Html.EditorFor(model => model.Religion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Religion", style = "min-width:100%;text-align:center" } })
                                            @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.Label("Nationality: ")<br />
                                            @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nationality", style = "min-width:100%;text-align:center" } })
                                            @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="controls form-inline">
                                        <div class="col-sm-3">
                                            @Html.Label("Birthdate")<br />
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control", @placeholder = "MM/DD/YY", style = "min-width:100%;text-align:center" } })
                                                @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.Label("Birth place")<br />
                                            @Html.EditorFor(model => model.Birthplace, new { htmlAttributes = new { @class = "form-control", @placeholder = "Birth place", style = "min-width:100%;text-align:center" } })
                                            @Html.ValidationMessageFor(model => model.Birthplace, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.Label("Birth Rank")<br />
                                            @Html.EditorFor(model => model.BirthRank, new { htmlAttributes = new { @class = "form-control", @placeholder = "e.g. 1st, 2nd, 3rd", style = "min-width:100%;text-align:center" } })
                                            @Html.ValidationMessageFor(model => model.BirthRank, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="controls form-inline">
                                    @Html.Label("Languages and Dialect: ")
                                    @Html.EditorFor(model => model.Dialect, new { htmlAttributes = new { @class = "form-control", @placeholder = "Languages and dialects spoken", @style = "min-width: 98%;" } })
                                    @Html.ValidationMessageFor(model => model.Dialect, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <div class="controls form-inline">
                                    @Html.Label("Hobbies and Interests: ")
                                    @Html.TextAreaFor(model => model.Hobbies, 3, 100, new { @class = "form-control", @style = "min-width: 98%;" })
                                    @Html.ValidationMessageFor(model => model.Hobbies, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="controls form-inline">
                                        <div class="col-sm-12">
                                            @Html.Label("Recipient of scholarship/financial aid? ")<br />
                                            @Html.RadioButton("gender", "No", new { id = "IsNo" }) No &nbsp;
                                            @Html.RadioButton("gender", "Yes", true, new { id = "IsYes" }) Yes
                                            @Html.EditorFor(model => model.Scholarship, new { htmlAttributes = new { @class = "form-control", @placeholder = "e.g. Academic scholar etc", @style = "min-width:90%;text-align:center" } })
                                            @Html.ValidationMessageFor(model => model.Scholarship, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <br /><br />
                                <div class="panel panel-default">
                                    <div class="panel-heading"><b><i>If married</i></b></div>
                                    <div class="panel-body">

                                        <div class="form-group">
                                            <div class="controls form-inline">
                                                <div class="col-sm-4">
                                                    @Html.Label("Date of marriage") <br />
                                                    @Html.EditorFor(model => model.DateOfMarriage, new { htmlAttributes = new { @class = "form-control", @placeholder = "MM/DD/YY", style = "min-width:100%;text-align:center" } })
                                                    @Html.ValidationMessageFor(model => model.DateOfMarriage, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-sm-4">
                                                    @Html.Label("Place of marriage")<br />
                                                    @Html.EditorFor(model => model.PlaceOfMarriage, new { htmlAttributes = new { @class = "form-control", @style = "min-width:100%;text-align:center" } })
                                                    @Html.ValidationMessageFor(model => model.PlaceOfMarriage, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="controls form-inline">
                                                <div class="col-sm-8">
                                                    @Html.Label("Spouse Full Name")<br />
                                                    @Html.EditorFor(model => model.SpouseName, new { htmlAttributes = new { @class = "form-control", @style = "min-width:100%;text-align:center" } })
                                                    @Html.ValidationMessageFor(model => model.SpouseName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-sm-1">
                                                    @Html.Label("Age")<br />
                                                    @Html.EditorFor(model => model.SpouseAge, new { htmlAttributes = new { @class = "form-control", @style = "max-width:80%;text-align:center", @maxlength = "2" } })
                                                    @Html.ValidationMessageFor(model => model.SpouseAge, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-sm-3">
                                                    @Html.Label("Educational Attainment")<br />
                                                    @Html.EditorFor(model => model.SpouseEducationalAttainment, new { htmlAttributes = new { @class = "form-control", @style = "min-width:100%;text-align:center" } })
                                                    @Html.ValidationMessageFor(model => model.SpouseEducationalAttainment, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="controls form-inline">
                                                <div class="col-sm-4">
                                                    @Html.Label("Occupation")<br /><br />
                                                    @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @class = "form-control", style = "min-width:100%;text-align:center" } })
                                                    @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-sm-8">
                                                    @Html.Label("Employer's Address")<br />
                                                    @Html.TextAreaFor(model => model.EmployerAddress, 3, 100, new { @class = "form-control", @style = "min-width: 100%;" })
                                                    @Html.ValidationMessageFor(model => model.EmployerAddress, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="controls form-inline">
                                            @Html.Label("Number of children: ")
                                            @Html.EditorFor(model => model.NumberOfChildren, new { htmlAttributes = new { @class = "form-control", @style = "width:45px;text-align:center" } })
                                            @Html.ValidationMessageFor(model => model.NumberOfChildren, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <div class="controls form-inline">
                                                <div class="col-sm-8">
                                                    @Html.Label("Name of children/s")<br />
                                                    <input type="text" class="form-control" style="min-width:100%;text-align:center;background-color:#C0C0C0;" disabled><br /><br />
                                                    <input type="text" class="form-control" style="min-width:100%;text-align:center;background-color:#C0C0C0;" disabled><br /><br />
                                                    <input type="text" class="form-control" style="min-width:100%;text-align:center;background-color:#C0C0C0;" disabled>
                                                </div>
                                                <div class="col-sm-1">
                                                    @Html.Label("Age")<br />
                                                    <input type="text" class="form-control" style="text-align:center;background-color:#C0C0C0;width:80%;" disabled><br /><br />
                                                    <input type="text" class="form-control" style="text-align:center;background-color:#C0C0C0;width:80%;" disabled><br /><br />
                                                    <input type="text" class="form-control" style="text-align:center;background-color:#C0C0C0;width:80%;" disabled>
                                                </div>
                                                <div class="col-sm-3">
                                                    @Html.Label("Educational Attainment")<br />
                                                    <input type="text" class="form-control" style="text-align:center;background-color:#C0C0C0;width:100%;" disabled><br /><br />
                                                    <input type="text" class="form-control" style="min-width:100%;text-align:center;background-color:#C0C0C0;" disabled><br /><br />
                                                    <input type="text" class="form-control" style="min-width:100%;text-align:center;background-color:#C0C0C0;" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    @*End #panelPersonalInformation*@

                    @*Start #panelFamilyBackground*@
                    <div class="tab-pane" id="FamilyBackground">
                        <div class="panel panel-default">
                            @*<div class="panel-heading"><b>Family Background</b></div>*@
                            <div class="panel-body">
                                <br />
                                <!-- Father's -->
                                <div class="form-group">
                                    <div class="controls form-inline">
                                        <div class="col-sm-8">
                                            @Html.Label("Father's Name")<br />
                                            @Html.EditorFor(model => model.FathersName, new { htmlAttributes = new { @class = "form-control", @style = "min-width:100%;text-align:center" } })
                                            @Html.ValidationMessageFor(model => model.FathersName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-1">
                                            @Html.Label("Age")<br />
                                            @Html.EditorFor(model => model.FathersAge, new { htmlAttributes = new { @class = "form-control", @style = "max-width:80%;text-align:center", @maxlength = "2" } })
                                            @Html.ValidationMessageFor(model => model.FathersAge, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.Label("Educational Attainment")<br />
                                            @Html.EditorFor(model => model.FathersEducationalAttainment, new { htmlAttributes = new { @class = "form-control", @style = "min-width:100%;text-align:center" } })
                                            @Html.ValidationMessageFor(model => model.FathersEducationalAttainment, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="controls form-inline">
                                        <div class="col-sm-4">
                                            @Html.Label("Occupation")<br /><br />
                                            @Html.EditorFor(model => model.FathersOccupation, new { htmlAttributes = new { @class = "form-control", style = "min-width:100%;text-align:center" } })
                                            @Html.ValidationMessageFor(model => model.FathersOccupation, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.Label("Employer's Address")<br />
                                            @Html.TextAreaFor(model => model.FathersEmployerAddress, 3, 100, new { @class = "form-control", @style = "min-width: 100%;" })
                                            @Html.ValidationMessageFor(model => model.FathersEmployerAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <!-- End Father's -->
                                <!-- Mother's -->
                                <div class="form-group">
                                    <div class="controls form-inline">
                                        <div class="col-sm-8">
                                            @Html.Label("Mother's Name")<br />
                                            @Html.EditorFor(model => model.MothersName, new { htmlAttributes = new { @class = "form-control", @style = "min-width:100%;text-align:center" } })
                                            @Html.ValidationMessageFor(model => model.MothersName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-1">
                                            @Html.Label("Age")<br />
                                            @Html.EditorFor(model => model.MothersAge, new { htmlAttributes = new { @class = "form-control", @style = "max-width:80%;text-align:center", @maxlength = "2" } })
                                            @Html.ValidationMessageFor(model => model.MothersAge, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.Label("Educational Attainment")<br />
                                            @Html.EditorFor(model => model.MothersEducationalAttainment, new { htmlAttributes = new { @class = "form-control", @style = "min-width:100%;text-align:center" } })
                                            @Html.ValidationMessageFor(model => model.MothersEducationalAttainment, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="controls form-inline">
                                        <div class="col-sm-4">
                                            @Html.Label("Occupation")<br /><br />
                                            @Html.EditorFor(model => model.MothersOccupation, new { htmlAttributes = new { @class = "form-control", style = "min-width:100%;text-align:center" } })
                                            @Html.ValidationMessageFor(model => model.MothersOccupation, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.Label("Employer's Address")<br />
                                            @Html.TextAreaFor(model => model.MothersEmployerAddress, 3, 100, new { @class = "form-control", @style = "min-width: 100%;" })
                                            @Html.ValidationMessageFor(model => model.MothersEmployerAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <!-- End Mother's -->


                            </div>
                        </div>
                    </div>
                    @*End panel#familybackground*@

                </div><!-- End Tab content -->
                

                    @*Start Save,home button*@
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-5">
                            <input type="submit" value="Save" class="btn btn-default" />
                            @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                    @*End Save,home button*@

            </div>
        </div>
    </div>
}