@model PagedList.IPagedList<Testv3.Models.TestViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@TempData["Error"]</strong>
    </div>
}
@{
    ViewBag.Title = "Index";
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"></a>
        
        <ul>
        <li><b>To see a student's records of Individual Counselling, search using student's name or student number.</b></li>
        <li><b>To add a new record of Individual Counselling, select the student.</b></li>
        </ul>
    </div>
}

@using (Html.BeginForm("Index", "StudentInventory", FormMethod.Get))
{
    <br />
    <div class="controls form-inline">
        @Html.TextBox("searchStringName", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search by student's name or student number", @style = "min-width:50%" })
        <input type="submit" value="Search" class="btn btn-default" />
        @*<div style="float:right;">
            @Html.ActionLink("Add new counselling form", "Search", null, new { @class = "btn btn-default" })
        </div>*@
    </div>

    <br />
}

<table class="table">
    <tr>
        <th>
            Student Name
        </th>

        <th>Counselling Records</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLastName), @Html.DisplayFor(modelItem => item.StudentFirstName) @Html.DisplayFor(modelItem => item.StudentMiddleName)
            </td>

            <td>
                @Html.ActionLink("Select", "Counsellor", new { UserID = item.UserID }) |
                @Html.ActionLink("View", "Student", new { UserID = item.UserID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model,
    page => Url.Action("Index",
    new
    {
        page,
        searchStringName = ViewBag.searchStringName,
        currentFilter = ViewBag.CurrentFilter
    }))
<hr />