@model Testv3.Models.StudentInterviewViewModel

@{
    ViewBag.Title = "Student's Routine Interview";
}
@section Scripts{
    <script>
        $(function () {
                $('#studentSection textarea').attr('disabled', 'disabled');
        });
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="body-content">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="controls form-inline">
                                        <br />
                                        @Html.Label("Student Name: ")
                                        @Html.DisplayFor(model => model.StudentLastName), @Html.DisplayFor(model => model.StudentFirstName) @Html.DisplayFor(model => model.StudentMiddleName)
                                        <div style="float:right;">
                                            @Html.Label("Completion Date: ")
                                            @Html.DisplayFor(model => model.CompletionDate)
                                        </div>
                                        <br />
                                        @Html.Label("Student Number: ")
                                        @Html.DisplayFor(model => model.StudentID)
                                        <br />
                                        @Html.Label("Program: ")
                                        @Html.DisplayFor(model => model.Program)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="studentSection">
                            <br />
                            <div class="controls form-inline">
                                @Html.LabelFor(model => model.Q1, htmlAttributes: new { @class = "control-label" })<br />
                                @Html.TextAreaFor(model => model.Q1, 4, 100, new { @class = "form-control", @style = "min-width: 70%;" })
                            </div>
                            <br />
                            <div class="controls form-inline">
                                @Html.LabelFor(model => model.Q2, htmlAttributes: new { @class = "control-label" })<br />
                                @Html.TextAreaFor(model => model.Q2, 4, 100, new { @class = "form-control", @style = "min-width: 70%;" })
                            </div>
                            <br />
                            <div class="controls form-inline">
                                @Html.LabelFor(model => model.Q3, htmlAttributes: new { @class = "control-label" })<br />
                                @Html.TextAreaFor(model => model.Q3, 4, 100, new { @class = "form-control", @style = "min-width: 70%;" })
                            </div>
                            <br />
                            <div class="controls form-inline">
                                @Html.LabelFor(model => model.Q4, htmlAttributes: new { @class = "control-label" })<br />
                                @Html.TextAreaFor(model => model.Q4, 4, 100, new { @class = "form-control", @style = "min-width: 70%;" })
                            </div>
                            <br />
                            <div class="controls form-inline">
                                @Html.LabelFor(model => model.Q5, htmlAttributes: new { @class = "control-label" })<br />
                                @Html.TextAreaFor(model => model.Q5, 4, 100, new { @class = "form-control", @style = "min-width: 70%;" })
                            </div>
                            <br />
                            <div class="controls form-inline">
                                @Html.LabelFor(model => model.OtherMatters, htmlAttributes: new { @class = "control-label" })<br />
                                @Html.TextAreaFor(model => model.OtherMatters, 4, 100, new { @class = "form-control", @style = "min-width: 70%;" })
                            </div>
                        </div>
                        @*<br />
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="controls form-inline">
                                    @Html.LabelFor(model => model.CounselorNotes, htmlAttributes: new { @class = "control-label" })<br />
                                    @Html.TextAreaFor(model => model.CounselorNotes, 5, 100, new { @class = "form-control", @style = "min-width: 90%;" })
                                    @Html.ValidationMessageFor(model => model.CounselorNotes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-5">
                    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-default" })
                </div>
            </div>

        </div>
    </div>
}
