@model Testv3.Models.StudentInterviewViewModel

@{
    ViewBag.Title = "Answer the Routine Interview";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />
    <div class="body-content">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="controls form-inline">
                                        <br />
                                        @Html.Label("Student Name: ")
                                        @Html.DisplayFor(model => model.StudentLastName), @Html.DisplayFor(model => model.StudentFirstName) @Html.DisplayFor(model => model.StudentMiddleName)
                                        <br />
                                        @Html.Label("Student Number: ")
                                        @Html.DisplayFor(model => model.StudentID)
                                        <br />
                                        @Html.Label("Program: ")
                                        @Html.DisplayFor(model => model.Program)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="controls form-inline">
                            @Html.LabelFor(model => model.Q1, htmlAttributes: new { @class = "control-label" })<br />
                            @Html.ValidationMessageFor(model => model.Q1, "", new { @class = "text-danger" })<br />
                            @Html.TextAreaFor(model => model.Q1, 4, 100, new { @class = "form-control", @style = "min-width: 70%;" })

                        </div>
                        <br />
                        <div class="controls form-inline">
                            @Html.LabelFor(model => model.Q2, htmlAttributes: new { @class = "control-label" })<br />
                            @Html.ValidationMessageFor(model => model.Q2, "", new { @class = "text-danger" })<br />
                            @Html.TextAreaFor(model => model.Q2, 4, 100, new { @class = "form-control", @style = "min-width: 70%;" })

                        </div>
                        <br />
                        <div class="controls form-inline">
                            @Html.LabelFor(model => model.Q3, htmlAttributes: new { @class = "control-label" })<br />
                            @Html.ValidationMessageFor(model => model.Q3, "", new { @class = "text-danger" })<br />
                            @Html.TextAreaFor(model => model.Q3, 4, 100, new { @class = "form-control", @style = "min-width: 70%;" })

                        </div>
                        <br />
                        <div class="controls form-inline">
                            @Html.LabelFor(model => model.Q4, htmlAttributes: new { @class = "control-label" })<br />
                            @Html.ValidationMessageFor(model => model.Q4, "", new { @class = "text-danger" })<br />
                            @Html.TextAreaFor(model => model.Q4, 4, 100, new { @class = "form-control", @style = "min-width: 70%;" })

                        </div>
                        <br />
                        <div class="controls form-inline">
                            @Html.LabelFor(model => model.Q5, htmlAttributes: new { @class = "control-label" })<br />
                            @Html.ValidationMessageFor(model => model.Q5, "", new { @class = "text-danger" })<br />
                            @Html.TextAreaFor(model => model.Q5, 4, 100, new { @class = "form-control", @style = "min-width: 70%;" })

                        </div>
                        <br />
                        <div class="controls form-inline">
                            @Html.LabelFor(model => model.OtherMatters, htmlAttributes: new { @class = "control-label" })<br />
                            @Html.ValidationMessageFor(model => model.OtherMatters, "", new { @class = "text-danger" })<br />
                            @Html.TextAreaFor(model => model.OtherMatters, 4, 100, new { @class = "form-control", @style = "min-width: 70%;" })
                        </div>
                       
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-5">
                    <input type="submit" value="Save" class="btn btn-default" />
                    @Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-default" })
                </div>
            </div>

        </div>
    </div>
}
