@model IEnumerable<Testv3.Models.Appointment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <!--Html.ActionLink("Create New", "Create")-->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apptmnt_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apptmnt_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Apptmnt_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apptmnt_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentEmail)
        </td>
        <td>
            @Html.ActionLink("Reschedule", "Edit", new { id=item.Apptmnt_ID }) |
            @Html.ActionLink("Accept", "Details", new { id=item.Apptmnt_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Apptmnt_ID })
        </td>
    </tr>
}

</table>
