@model Testv3.Models.IndividualInventoryRecord
@{
    ViewBag.Title = "Inventory Record - Family Background";
}

@if (TempData["Message"] != null)
{
    <br />
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@TempData["Message"]</strong>
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="body-content">
        <div class="form-horizontal">
            <div class="form-group">
                <h4>Inventory Record - Family Background</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Students/InventoryRecord">PERSONAL INFORMATION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Students/FamilyBackground">FAMILY BACKGROUND</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">EDUCATIONAL INFORMATION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">WORK EXPERIENCE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">RECORD OF PSYCHOLOGICAL TEST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">HEALTH PROFILE</a>
                    </li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-heading"><b>FamilyBackground</b></div>
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="controls form-inline">
                                <div class="col-sm-8">
                                    @Html.Label("Father's Name")<br />
                                    @Html.EditorFor(model => model.FathersName, new { htmlAttributes = new { @class = "form-control", @style = "min-width:100%;text-align:center" } })
                                    @Html.ValidationMessageFor(model => model.FathersName, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-1">
                                    @Html.Label("Age")<br />
                                    @Html.EditorFor(model => model.FathersAge, new { htmlAttributes = new { @class = "form-control", @style = "max-width:80%;text-align:center", @maxlength = "2" } })
                                    @Html.ValidationMessageFor(model => model.FathersAge, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.Label("Educational Attainment")<br />
                                    @Html.EditorFor(model => model.FathersEducationalAttainment, new { htmlAttributes = new { @class = "form-control", @style = "min-width:100%;text-align:center" } })
                                    @Html.ValidationMessageFor(model => model.FathersEducationalAttainment, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="controls form-inline">
                                <div class="col-sm-4">
                                    @Html.Label("Occupation")<br /><br />
                                    @Html.EditorFor(model => model.FathersOccupation, new { htmlAttributes = new { @class = "form-control", style = "min-width:100%;text-align:center" } })
                                    @Html.ValidationMessageFor(model => model.FathersOccupation, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-8">
                                    @Html.Label("Employer's Address")<br />
                                    @Html.TextAreaFor(model => model.FathersEmployerAddress, 3, 100, new { @class = "form-control", @style = "min-width: 100%;" })
                                    @Html.ValidationMessageFor(model => model.FathersEmployerAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                                


                            </div>
                        </div>
                    </div>
                    }
